@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Darker+Grotesque&family=Khula:wght@300;400&family=Secular+One&family=Seymour+One&family=Work+Sans:wght@300;500&display=swap');

$fuente1: 'Darker Grotesque', sans-serif;
$fuente2: 'Khula', sans-serif;
$fuente3: 'Secular One', sans-serif;
$fuente4: 'Seymour One', sans-serif;
$fuente5: 'Work Sans', sans-serif;


$colorPrincipal: #112B3C;
$colorSecundario: #205375;
$colorTerciario: #f66b0e;
$colorCuarto: #efefef;