
@import "_estetica";

/*COMIENZO EDICIÓN DEL NAVBAR DE BOOTSTRAP*/

nav{
    font-family: $fuente2;
    height: auto;
    width: 70%;
    background-color: $colorPrincipal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar-nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    button span{
        color: #efefef;
        width: 100%;
        font-size: 30px;
    }
}

.navbar-collapse{
    background-color: #112b3cd0;
}

.nav-link{
    color:$colorCuarto;
    font-weight: bold;
}

ul .nav-item{
    padding-left: 10px;
    z-index: 100;

    a{
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }
}



.nav-item a:hover, .nav-item a:focus {
    background-size: 100% 2px;
    color: $colorTerciario;
}

.dropdown-menu {
    background-color:  #112b3cb2;
    border-radius: 10px;

    a{
        color:$colorCuarto;
        font-size: 20px;
        background-color: transparent !important;
    }

    a:hover{
        background-color: $colorSecundario !important;
        color: $colorTerciario;
    }

}

/*FINALIZACIÓN EDICIÓN DEL NAVBAR DE BOOTSTRAP*/