@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Darker+Grotesque&family=Khula:wght@300;400&family=Secular+One&family=Seymour+One&family=Work+Sans:wght@300;500&display=swap');

@import "_estetica";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $colorSecundario;
}

header{
    height: 80px;
    width:100%;
    background-color: $colorPrincipal;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    z-index: 10;
}

.header-fixed{
    height: 80px;
    width:100%;
    background-color: $colorPrincipal;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    z-index: 10;
}

.header__logo{
    height: 80px;
    width:20%;
    margin-left: 10px;
    
}

.logo-png{
    height: 80px;

    
}


@import "_menu-nav";



.main__index{
    height: 100vh;
    width: 100%;
    background-color: $colorSecundario;
    background-image: url(../imagenes/fede_portada2.png);
    background-size: cover;
    background-position: right;
    color: $colorCuarto;
    background-attachment: fixed;
    

}

.presentacion{
    position:absolute;
    top:200px; 
    margin-left: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 5rem;
    font-family:  'Work Sans', sans-serif;
}

.presentacion p{
    font-size: 25px;
    width: auto;
    font-family:'Secular One', sans-serif;
    
}

.boton{
    background-color: $colorTerciario;
    color: $colorCuarto;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-family:'Secular One', sans-serif; 
    font-weight: 200;   
}


.boton:hover{
    background-color: $colorSecundario;
    border: 2px solid $colorPrincipal;
    color: $colorCuarto;
}
.ver-mas{
    height: auto;
    width:100px;
    margin-top: 30px;  
}

.div__cv{
    height: 100vh;
    width: 100%;
    background-color: $colorSecundario;
    background-image: url(../imagenes/fede_izquierdaA.png);
    background-size: cover;
    background-position: left;
    color: $colorCuarto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

#box-cv{

    height: fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.experiencia{
    margin-right:5rem;
    margin-top:2rem;
}

.texto-cv{
    width:50%;
    margin-right:5rem;
}

h3{
    font-size: 30px;
    text-align: center;
    font-family:'Secular One', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    color: $colorCuarto;
    margin-left: 15px;
}




.blog{
    width:90%;
    height:auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* position:relative;
    top:110px; */
    /* ARREGLAR BLOG PARA LA ENTREGA FINAL*/
}

article{
    background-color: $colorCuarto;
    margin-bottom: 2rem;;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid $colorPrincipal;

    
}

.articulo__titulo{
    background-color: $colorTerciario;
    font-size: 2rem;
    
}

.articulo__foto{
    width:30px;
    height: 100%;
}



.nav__secundario{
    height: 60px;
    width:100%;
    top:90px;
    background-image: linear-gradient(to right, #112b3c, #112b3c,#3b4a5b, #3b4a5b, #646d7b, #8d919c, #b7b8bf, #cacacf, #dcdcdf, #efefef, #efefef, #efefef, #efefef, #efefef);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    font-weight: 800;

    
}
.menu-secundario__ul{
    width:50%;
    padding:5px;
    margin: 0 auto;
} 
.nav__secundario-ul{
display: flex;
flex-direction: row;
justify-content: space-between;
color: $colorPrincipal; 
} 

.nav__secundario-ul li{
    list-style: none;
    color: $colorPrincipal;
    margin-top:5px;
    
    
}

.nav__secundario-ul li a{
    color: $colorPrincipal;

}

.nav__secundario h3{
    margin-top:10px;
}


h2{
    background-color: $colorTerciario;
    color: $colorCuarto;
    padding:15px;
    margin-top:10px;
    margin-bottom:5px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    width: 100%;
    

}

section{
    
    height: auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    grid-column-gap: 0.63rem;
    grid-row-gap:0.5rem;
}

iframe{
    width:98%;
    height: 250px;
    margin-top: 15px;
    border-radius: 10px;
}

.main__contacto{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.foto__contacto{
    background-color: $colorTerciario;
    background-image: url(../imagenes/fede_portada1A.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto__contacto h1{
    color: $colorCuarto;
    font-size: 5rem;
    margin-top:200px; 
    background-color: #112b3cb6;
    border-radius: 20px;
}

.form{
    display:flex;
    flex-direction: column;
    position: relative;
    top:70px;
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    
}

label{
    font-size: 20px;
    font-family:'Work Sans', sans-serif;
    color: $colorCuarto;
    font-weight: 500;
}

input, select{
    width:50%;
    margin-bottom: 20px;
    font-size: 20px;
    border: 3px solid $colorTerciario;
    border-radius: 15px 5px;

}
.input__contacto{
    display: flex;
    flex-direction: column;

}
textarea{
    width: 50%;
    height: 100px;
    font-size: 20px;
    border: 3px solid $colorTerciario;
    border-radius: 15px 5px;
}

.enviar{
    margin-top: 0.2rem;
}
.submit{
    background-color: $colorTerciario;
    color: $colorCuarto;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 15px 5px;
    font-family:'Secular One', sans-serif; 
    font-weight: 200; 
    height: auto;
    width: 120px;
}

.form h2{
    font-weight: bold;
    box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.47);
}



@import "_footer";

@import "_mediaqueries";